<div class="reset-password-container">
    <h1>Crea nueva contraseña</h1>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Nueva Contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="password!.invalid && password!.touched">
          La contraseña debe tener al menos 8 caracteres, incluir una mayúscula, una minúscula, un número y un carácter especial.
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Confirmar Contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword">
        <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="confirmPassword!.invalid && confirmPassword!.touched">
          Las contraseñas deben coincidir.
        </mat-error>
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit" [disabled]="resetPasswordForm.invalid">Enviar</button>
    </form>
  </div>
  
