/* pages.component.css */
.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;    
  }
  
  mat-sidenav-container {
    height: 100%;
  }
  
  mat-sidenav {
    width: 250px;
    transition: all 0.3s ease;
  }
  mat-sidenav.mat-drawer-side {
    transition: all 0.3s ease;
  }
  mat-sidenav-content {
    display: flex;
    flex-direction: column;    
  }
     
  mat-toolbar.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  
  .page-content {
    flex: 1;
  padding: 16px;
  }
  
  .container-fluid {
    padding: 16px;
  }
  
  

  